<p-confirmdialog />
<p-toast />
<div class="crud-container">
    <p-toolbar Class="mb-6">
        <ng-template #start>
            <p-button label="Nuevo" variant="text" severity="success" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
        </ng-template>
        <ng-template #end>
            <p-iconfield class="mr-2">
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="lista" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'uigeo', 'nombre_sede', 'direccion']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="nombre_tipo_suelo">NOMBRE TIPO SUELO <p-sortIcon field="nombre_tipo_suelo" /></th>
                <th pSortableColumn="capacidad_retencion_agua">RETENCIÓN DE AGUA <p-sortIcon field="capacidad_retencion_agua" /></th>
                <th pSortableColumn="drenaje">DRENAJE <p-sortIcon field="drenaje" /></th>
                <th >OPERACIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{entidad.nombre_tipo_suelo}}</td>
                <td>{{entidad.capacidad_retencion_agua}}</td>
                <td>{{entidad.drenaje}}</td>
                <td>
                    <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                    <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nombre_tipo_suelo" class="block font-bold mb-3">Nombre de Tipo suelo</label>
                <input id="nombre_tipo_suelo" type="text" pInputText [(ngModel)]="entidad.nombre_tipo_suelo" required autofocus fluid/>
            </div>
            <div>
                <label for="capacidad_retencion_agua" class="block font-bold mb-3">Capacidad de Retencion Agua</label>
                <input id="capacidad_retencion_agua" type="text" pInputText [(ngModel)]="entidad.capacidad_retencion_agua" fluid/>
            </div>
            <div>
                <label for="drenaje" class="block font-bold mb-3">Drenaje</label>
                <input id="drenaje" type="text" pInputText [(ngModel)]="entidad.drenaje" fluid/>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="cerrarDialogo()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
                            