<p-confirmdialog />
<p-toast />
<div class="crud-container">
    <p-toolbar Class="mb-6">
        <ng-template #start>
            <p-button label="Nuevo" variant="text" severity="success" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
        </ng-template>
        <ng-template #end>
            <p-iconfield class="mr-2">
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="lista" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'variedad', 'variedad_raiz', 'edad_inicio', 'edad_final', 'dimension_max', 'dimension_min']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="variedad">VARIEDAD <p-sortIcon field="variedad" /></th>
                <th pSortableColumn="variedad_raiz">VARIEDAD RAICES <p-sortIcon field="variedad_raiz" /></th>
                <th pSortableColumn="edad_inicio">EDAD INICIO <p-sortIcon field="edad_inicio" /></th>
                <th pSortableColumn="edad_final">EDAD FINAL <p-sortIcon field="edad_final" /></th>
                <th pSortableColumn="dimension_max">TAMAÑO MAXIMO <p-sortIcon field="dimension_max" /></th>
                <th pSortableColumn="dimension_min">TAMAÑO FINAL <p-sortIcon field="dimension_min" /></th>
                <th >OPERACIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{obtenerNombreVariedad(entidad.variedad)}}</td>
                <td>{{obtenerNombreVariedadRaices(entidad.variedad_raiz)}}</td>
                <td>{{entidad.edad_inicio}}</td>
                <td>{{entidad.edad_final}}</td>
                <td>{{entidad.dimension_max}}</td>
                <td>{{entidad.dimension_min}}</td>
                <td>
                    <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                    <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6">
                    <label for="variedad" class="block font-bold mb-3">ariedad</label>
                    <p-dropdown fluid
                        [options]="variedades" 
                        optionLabel="nombre_variedad" 
                        optionValue="id" 
                        [(ngModel)]="entidad.variedad" 
                        placeholder="Seleccione una variedad">
                    </p-dropdown>
                </div>
                <div class="col-span-6">
                    <label for="variedad_raiz" class="block font-bold mb-3">Variedad raiz</label>
                    <p-dropdown fluid
                        [options]="variedadRaices" 
                        optionLabel="nombre_variedad_raiz" 
                        optionValue="id" 
                        [(ngModel)]="entidad.variedad_raiz" 
                        placeholder="Seleccione una variedad de raiz">
                    </p-dropdown>
                </div>
            </div>
            <div>
                <label for="edad_inicio" class="block font-bold mb-3">Edad Inicio</label>
                <input id="edad_inicio" type="text" pInputText [(ngModel)]="entidad.edad_inicio" required autofocus fluid/>
            </div>
            <div>
                <label for="edad_final" class="block font-bold mb-3">Edad Final</label>
                <input id="edad_final" type="text" pInputText [(ngModel)]="entidad.edad_final" fluid />
            </div>
            <div>
                <label for="dimension_max" class="block font-bold mb-3">Tamaño Maximo</label>
                <input id="dimension_max" type="text" pInputText [(ngModel)]="entidad.dimension_max" fluid/>
            </div>
            
            <div>
                <label for="dimension_min" class="block font-bold mb-3">Tamaño Minimo</label>
                <input id="dimension_min" type="text" pInputText [(ngModel)]="entidad.dimension_min" fluid/>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="cerrarDialogo()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
