<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>
<div class="card">
    <p-toolbar Class="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="success" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="lista" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'uigeo', 'nombre_sede', 'direccion']"
        [style.width.%]="100" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
            <th pSortableColumn="ubigeo">Ubigeo <p-sortIcon field="ubigeo" /></th>
            <th pSortableColumn="nombre_sede">Nombre sede <p-sortIcon field="nombre_sede" /></th>
            <th pSortableColumn="direccion">Direccción <p-sortIcon field="direccion" /></th>
            <th >Operaciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{obtenerNombreUbigeo(entidad.ubigeo)}}</td>
                <td>{{entidad.nombre_sede}}</td>
                <td>{{entidad.direccion}}</td>
                <td>
                  <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                  <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center text-gray-600">
              No hay registros aún. ¡Vamos, regístralo por primera vez!
            </td>
          </tr>
        </ng-template>
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '90%', maxWidth: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="ubigeo" class="block font-bold mb-3">UBIGEO</label>
                <!--1. usa la lista de lotes obtenidas en el component. 2.Muestra el valor extreno para el usuario en este caso nombre de lote. 3. optionValue="id" guarda el id del lote en la entidad 4. ngModel sigue guardando el ID en la entidad-->
                <p-dropdown fluid
                  [appendTo]="'body'"
                  [options]="ubigeos" 
                  optionLabel="ubigeocompleto" 
                  optionValue="ubigeo" 
                  [(ngModel)]="entidad.ubigeo" 
                  placeholder="Seleccione un distrito">
                </p-dropdown>
            </div>
            <div>
                <label for="nombre_sede" class="block font-bold mb-3">Sede</label>
                <input id="nombre_sede" type="text" pInputText [(ngModel)]="entidad.nombre_sede" fluid/>
            </div>
            <div>
                <label for="direccion" class="block font-bold mb-3">Dirección</label>
                <input id="direccion" type="text" pInputText [(ngModel)]="entidad.direccion" fluid/>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
                            