<p-confirmdialog />
<p-toast />
<div class="crud-container">
    <p-toolbar Class="mb-6">
        <ng-template #start>
            <p-button label="Nuevo" variant="text" severity="success" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
        </ng-template>
        <ng-template #end>
            <p-iconfield class="mr-2">
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="lista" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'sede', 'nombre_fundo']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="sede">Sede <p-sortIcon field="sede" /></th>
                <th pSortableColumn="nombre_fundo">Nombre Cultivo <p-sortIcon field="nombre_fundo" /></th>
                <th >OPERACIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{ obtenerNombreSede(entidad.sede)}}</td>
                <td>{{entidad.nombre_fundo}}</td>
                <td>
                  <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                  <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [dismissableMask]="false" [style]="{ width: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="sede" class="block font-bold mb-3">Sede</label>
                <p-dropdown fluid [appendTo]="'body'" 
                    [options]="sedes"
                    optionLabel="nombre_sede"
                    optionValue="id"
                    [(ngModel)]="entidad.sede"
                    placeholder="Seleccione una sede"
                >
                </p-dropdown>
            </div>
            <div>
                <label for="nombre_cultivo" class="block font-bold mb-3">Nombre de cultivo</label>
                <input id="nombre_cultivo" type="text" pInputText [(ngModel)]="entidad.nombre_fundo" required autofocus fluid/>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="cerrarDialogo()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>