.logo-beta{
    width: 100%;
    max-width: 1200px; // Ajusta según el ancho máximo que desees
    margin: 20px auto; // Centrar el contenedor
    padding: 40px; // Espaciado opcional
    display: flex;
    
    .responsive-image {
        width: 100%; // La imagen ocupa el 100% del contenedor
        height: auto; // La altura se ajusta automáticamente
        display: block; // Elimina el espacio adicional debajo de la imagen
        object-fit: cover; // Asegura que la imagen cubra el área sin distorsionarse
        transform: scale(0.9); // Reducir el tamaño al 80%
        transform-origin: center; // Asegurar que la reducción sea desde el centro
        // Media queries para ajustes responsivos
        @media (max-width: 768px) {
            // Estilos específicos para tablets
            padding: 10px;
        }

        @media (max-width: 480px) {
            // Estilos específicos para móviles
            padding: 5px;
        }
    }

}