<p-confirmdialog /> <!-- Para cofirmación-->
<div class="card">
    <p-toolbar Class="mb-4">
        <ng-template #start>
            <p-button label="Nuevo" variant="text" severity="success" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
        </ng-template>
        <ng-template #end>
            <div class="busqueda-export">
                <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
            </div>
        </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="lista" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'nombre_cultivo']"
        [style.width.%]="100"
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
                <th pSortableColumn="nombre_cultivo">Nombre Cultivo <p-sortIcon field="nombre_cultivo" /></th>
                <th >Operaciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{entidad.nombre_cultivo}}</td>
                <td>
                    <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                    <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center text-gray-600">
              No hay registros aún. ¡Vamos, regístralo por primera vez!
            </td>
          </tr>
        </ng-template>
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '90%', maxWidth: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <div>
                <label for="nombre_cultivo" class="block font-bold mb-3">Nombre de cultivo</label>
                <input id="nombre_cultivo" type="text" pInputText [(ngModel)]="entidad.nombre_cultivo" required autofocus fluid/>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="cerrarDialogo()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>

</p-dialog>
