<p-confirmdialog />
<p-toast />
<div class="crud-container">
    <p-toolbar Class="mb-6">
        <ng-template #start>
            <p-button label="Nuevo" variant="text" severity="success" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
        </ng-template>
        <ng-template #end>
            <p-iconfield class="mr-2">
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="lista" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'uigeo', 'nombre_sede', 'direccion']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="variedad">Variedad <p-sortIcon field="variedad" /></th>
                <th pSortableColumn="tipo_suelo">Tipo de suelo <p-sortIcon field="tipo_suelo" /></th>
                <th pSortableColumn="etapa_fenologica">Etapa fenologica <p-sortIcon field="etapa_fenologica" /></th>
                <th pSortableColumn="inicio">Inicio <p-sortIcon field="inicio" /></th>
                <th pSortableColumn="duracion">Duración <p-sortIcon field="duracion" /></th>
                <th pSortableColumn="rendimiento_estimado">Rendimiento <p-sortIcon field="rendimiento_estimado" /></th>
                <th pSortableColumn="observacion">Observación <p-sortIcon field="observacion" /></th>
                <th >OPERACIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{ obtenerNombreVariedad(entidad.variedad)}}</td>
                <td>{{ obtenerNombreTipoSuelo(entidad.tipo_suelo)}}</td>
                <td>{{entidad.etapa_fenologica}}</td>
                <td>{{entidad.inicio | date:'dd-MM-yyyy'}}</td>
                <td>{{entidad.duracion | date:'dd-MM-yyyy'}}</td>
                <td>{{entidad.rendimiento_estimado}}</td>
                <td>{{entidad.observacion}}</td>
                <td>
                    <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                    <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" (onHide)="cerrarDialogo()"[style]="{ width: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="cultivo" class="block font-bold mb-3">Cultivo</label>
                <p-dropdown fluid
                    [options]="cultivos" 
                    optionLabel="nombre_cultivo" 
                    optionValue="id" 
                    [(ngModel)]="cultivoSeleccionado" 
                    (onChange)="cargarVariedadesPorCultivo($event.value)"
                    placeholder="Seleccione un cultivo">
                </p-dropdown>
            </div>
            <div>
                <label for="variedad" class="block font-bold mb-3">Variedad</label>
                <p-dropdown fluid
                    [options]="variedadesFiltrados" 
                    optionLabel="nombre_variedad" 
                    optionValue="id" 
                    [(ngModel)]="entidad.variedad" 
                    [disabled]="!cultivoSeleccionado"
                    placeholder="Seleccione una variedad">
                </p-dropdown>
            </div>
            <div>
                <label for="tipo_suelo" class="block font-bold mb-3">Tipo de suelo</label>
                <p-dropdown fluid
                    [options]="tipoSuelos" 
                    optionLabel="nombre_tipo_suelo" 
                    optionValue="id" 
                    [(ngModel)]="entidad.tipo_suelo" 
                    placeholder="Seleccione un tipo de suelo">
                </p-dropdown>
            </div>
            <div>
                <label for="etapa_fenologica" class="block font-bold mb-3">Etapa Fenologica</label>
                <input id="etapa_fenologica" type="text" pInputText [(ngModel)]="entidad.etapa_fenologica" fluid/>
            </div>
            <div>
                <label for="inicio" class="block font-bold mb-3">Inicio</label>
                <p-datepicker id="inicio" [(ngModel)]="entidad.inicio" dateFormat="dd-mm-yy" placeholder="Fecha Inicio" [showIcon]="true" fluid />
            </div>
            <div>
                <label for="duracion" class="block font-bold mb-3">Duración</label>
                <p-datepicker id="duracion" [(ngModel)]="entidad.duracion" dateFormat="dd-mm-yy" placeholder="Fecha Final" [showIcon]="true" fluid />
            </div>
            <div>
                <label for="rendimiento_estimado" class="block font-bold mb-3">Rendimiento estimado</label>
                <input id="rendimiento_estimado" type="text" pInputText [(ngModel)]="entidad.rendimiento_estimado" fluid/>
            </div>
            <div>
                <label for="observacion" class="block font-bold mb-3">Observación</label>
                <input id="observacion" type="text" pInputText [(ngModel)]="entidad.observacion" fluid/>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="cerrarDialogo()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
