<!---->
<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Listado">
            <div class="row g-1">
                <div class="col-md-12 mb-3">
                    <!-- Botón para abrir modal de nuevo producto -->
                    <p-button label="Nuevo Fundo" icon="pi pi-plus" (click)="mostrarDialogo()"></p-button>
                    <!-- Tabla -->                            
                    <p-table [value]="lista" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: auto; text-align: center;">ID</th>
                                <th style="width: auto; text-align: center;">TIPO DE SENSOR</th>
                                <th style="width: auto; text-align: center;">CODIGO</th>
                                <th style="width: auto; text-align: center;">UBICACION</th>
                                <th style="width: auto; text-align: center;">FECHA DE INSTALACIÓN</th>
                                <th style="width: auto; text-align: center;">OPERACIONES</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-entidad>
                            <tr>
                                <td style="width: auto; text-align: center;">{{entidad.id}}</td>
                                <td style="width: auto; text-align: center;">{{entidad.tipo_sensor}}</td>
                                <td style="width: auto; text-align: center;">{{entidad.codigo}}</td>
                                <td style="width: auto; text-align: center;">{{entidad.ubicacion}}</td>
                                <td style="width: auto; text-align: center;">{{entidad.fecha_instalacion}}</td>
                                <td style="width: auto; text-align: center;">
                                    <button pRipple pButton label="Editar" icon="pi pi-pencil" (click)="CargarDatosModal(entidad)" class="p-button-text p-button-sm"></button>
                                    <button pRipple pButton label="Eliminar" icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="eliminar(entidad.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </app-card>
    </div>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [modal]="true" header="Formulario">
  <div class="p-fluid">
    <label for="tipo_sensor">tipo sensor</label>
    <input id="tipo_sensor" type="text" pInputText [(ngModel)]="entidad.tipo_sensor" />

    <label for="codigo">codigo</label>
    <input id="codigo" type="text" pInputText [(ngModel)]="entidad.codigo" />

    <label for="ubicacion">ubicacion</label>
    <input id="ubicacion" type="text" pInputText [(ngModel)]="entidad.ubicacion" />

    <label for="fecha_instalacion">fecha instalacion</label>
    <input id="fecha_instalacion" type="text" pInputText [(ngModel)]="entidad.fecha_instalacion" />

    <button pButton label="Guardar" (click)="guardar()" class="p-mt-3"></button>
  </div>
</p-dialog>